@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/preflight";   */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */



@font-face {
  font-family: 'CamberTRIAL-Md';
  src: url('../public/fonts/CamberTRIAL-Lt.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* Add your custom CSS variables here */
  }
}
